* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gainsboro;
}

.container {
  position: relative;
  max-width: 430px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.container .forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 270px;
  width: 100%;
  transition: height 0.2s ease;
}

.container .form {
  text-align: center;
  width: 80%;
  padding: 15px;
  background-color: #fff;
  transition: margin-left 0.18s ease;
}

.container .form .title {
  font-size: 27px;
  font-weight: 600;
}

.container .form .info {
  font-size: 17px;
  font-weight: 400;
}
